# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Editor & IDE settings
.vscode/
.idea/
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env

# Python packaging
*.egg-info/
dist/
build/

# Node (if using JS)
node_modules/

# Ignore all JSON files and text file
*.json
text

# Sensitive scripts
token_generator.py

requirements.txt
.text
